## Long Island Hedonic Analysis - Draft
### Visualizing the data
#### created by Doug Patton
<br>
If you run the notebook with matplotlib widgets turned on (and installed), you can rotate and zoom in on the 3d plots.

In [1]:
import island

SyntaxError: invalid syntax (models.py, line 105)

In [2]:
import numpy as np
import pandas as pd

In [3]:
#from importlib import reload  
#reload(island)

In [4]:
%matplotlib inline
#may be necessary to display plots inline on some systems
#%pylab #interactive graphs in external window
#%matplotlib widget #makes graphs interactive inline

In [5]:
idata_obj=island.IslandData()

In [6]:
#idata_obj.getDataFromCSV() # run once

In [7]:
#idata_obj.doCSVToDict() # run once

In [8]:
idata_obj.makeTimeListArrayList()

In [9]:
#create new real version for each dollar variable using the CPI
baseyear=2015
idata_obj.addRealByCPI(to_year=baseyear)

In [10]:
idata_obj.arrayListToPandasDF()

In [43]:
dfi=idata_obj.df.loc[1]
dfi

                sale_year  saleprice  assessedvalue  postsandy    secchi  \
sale_year idx
2012      1488       2012     375000         368800          1  1.714286
          1489       2012     375000         285200          1  1.714286
          1490       2012     420000         347200          1  1.714286
          1491       2012     440000         382400          1  1.714286
          1492       2012     320000         230400          1  1.714286
...                   ...        ...            ...        ...       ...
2015      4351       2015     582000         445600          1  2.500000
          4352       2015     446000         474400          1  2.500000
          4353       2015     446000         474400          1  2.500000
          4354       2015     430000         420800          1  2.500000
          4355       2015     460000         282800          1  2.500000

                wqbayfront  wqwateraccess  wqwaterhouse  totalbathroomsedited  \
sale_year idx
2012      1488         0.0            0.0           0.0                   2.5
          1489         0.0            0.0           0.0                   2.0
          1490         0.0            0.0           0.0                   1.0
          1491         0.0            0.0           0.0                   1.0
          1492         0.0            0.0           0.0                   1.0
...                    ...            ...           ...                   ...
2015      4351         0.0            0.0           0.0                   1.5
          4352         0.0            0.0           0.0                   3.0
          4353         0.0            0.0           0.0                   3.0
          4354         0.0            0.0           0.0                   1.5
          4355         0.0            0.0           0.0                   1.5

                totallivingarea  ...  dv_2010  dv_2011  dv_2012  dv_2013  \
sale_year idx                    ...
2012      1488           1326.0  ...        0        0        1        0
          1489           1388.0  ...        0        0        1        0
          1490           1295.0  ...        0        0        1        0
          1491           1624.0  ...        0        0        1        0
          1492           1236.0  ...        0        0        1        0
...                         ...  ...      ...      ...      ...      ...
2015      4351           1780.0  ...        0        0        0        0
          4352           1386.0  ...        0        0        0        0
          4353           1386.0  ...        0        0        0        0
          4354           1872.0  ...        0        0        0        0
          4355           1571.0  ...        0        0        0        0

                dv_2014  dv_2015  saleprice_real-2015  \
sale_year idx
2012      1488        0        0        387124.119097
          1489        0        0        387124.119097
          1490        0        0        433579.013389
          1491        0        0        454225.633074
          1492        0        0        330345.914963
...                 ...      ...                  ...
2015      4351        0        1        582000.000000
          4352        0        1        446000.000000
          4353        0        1        446000.000000
          4354        0        1        430000.000000
          4355        0        1        460000.000000

                assessedvalue_real-2015  income_real-2015   idx
sale_year idx
2012      1488            380723.666995     113754.615817  1488
          1489            294420.796711     145386.269506  1489
          1490            358425.317735     145386.269506  1490
          1491            394763.368381     113754.615817  1491
          1492            237849.058773     123953.013611  1492
...                                 ...               ...   ...
2015      4351            445600.000000     130603.000000  4351
          4352            474400.000000     130603.000000  4352
          4353            474400.000000     130603.000000  4353
          4354            420800.000000     130603.000000  4354
          4355            282800.000000     130603.000000  4355

[8799 rows x 55 columns]

In [50]:
levels0=dfi.index.remove_unused_levels().levels[0]
levels0

Int64Index([2012, 2013, 2014, 2015], dtype='int64', name='sale_year')

In [46]:
dfi.index.levels

FrozenList([[2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]])

In [16]:
idata_obj.printDFtoSumStats()

In [17]:
idata_obj.df.loc[1].describe()

,sale_year,saleprice,assessedvalue,postsandy,secchi,wqbayfront,wqwateraccess,wqwaterhouse,totalbathroomsedited,totallivingarea,...,dv_2010,dv_2011,dv_2012,dv_2013,dv_2014,dv_2015,saleprice_real-2015,assessedvalue_real-2015,income_real-2015,idx
count,8799.00000,8.799000e+03,8.799000e+03,8799.0,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,...,8799.0,8799.0,8799.000000,8799.000000,8799.000000,8799.000000,8.799000e+03,8.799000e+03,8799.000000,8799.000000
mean,2014.19434,4.387057e+05,3.629974e+05,1.0,1.487954,0.009104,0.055622,0.064725,1.962609,1816.552563,...,0.0,0.0,0.028412,0.243891,0.232640,0.495056,4.409522e+05,3.650158e+05,113961.264629,1623.364132
std,0.90273,2.201783e+05,1.380145e+05,0.0,0.467630,0.124990,0.315432,0.337797,0.823556,740.974469,...,0.0,0.0,0.166157,0.429452,0.422539,0.500004,2.209832e+05,1.389500e+05,36738.862619,1125.967392
min,2012.00000,1.000000e+03,1.000000e+05,1.0,1.000000,0.000000,0.000000,0.000000,1.000000,376.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.001187e+03,1.017428e+05,19565.000000,0.000000
25%,2013.00000,3.200000e+05,2.800000e+05,1.0,1.083333,0.000000,0.000000,0.000000,1.500000,1327.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.204899e+05,2.816000e+05,89797.187477,733.000000
50%,2014.00000,3.950000e+05,3.316000e+05,1.0,1.416667,0.000000,0.000000,0.000000,2.000000,1667.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.967970e+05,3.337164e+05,110238.496485,1466.000000
75%,2015.00000,5.000000e+05,4.040000e+05,1.0,1.700000,0.000000,0.000000,0.000000,2.500000,2126.000000,...,0.0,0.0,0.000000,0.000000,0.000000,1.000000,5.005935e+05,4.068000e+05,132901.546745,2155.500000
max,2015.00000,2.900000e+06,1.839200e+06,1.0,3.500000,2.603540,2.593171,2.603540,8.000000,11982.000000,...,0.0,0.0,1.000000,1.000000,1.000000,1.000000,2.903442e+06,1.871254e+06,258082.746065,4355.000000

In [18]:
test=idata_obj.df.loc[0]["secchi"].describe()
test

count    23174.000000
mean         1.832745
std          0.455897
min          0.601854
25%          1.481468
50%          1.836880
75%          2.132101
max          4.109069
Name: secchi, dtype: float64

In [19]:
idata_obj.df[:]['sale_year'].describe()

count    31973.000000
mean      2008.680731
std          4.175116
min       2002.000000
25%       2005.000000
50%       2008.000000
75%       2013.000000
max       2015.000000
Name: sale_year, dtype: float64

In [40]:
idata_obj.df.index.remove_unused_levels

<bound method MultiIndex.remove_unused_levels of MultiIndex([(0, 2002,    0),
            (0, 2002,    1),
            (0, 2002,    2),
            (0, 2002,    3),
            (0, 2002,    4),
            (0, 2002,    5),
            (0, 2002,    6),
            (0, 2002,    7),
            (0, 2002,    8),
            (0, 2002,    9),
            ...
            (1, 2015, 4346),
            (1, 2015, 4347),
            (1, 2015, 4348),
            (1, 2015, 4349),
            (1, 2015, 4350),
            (1, 2015, 4351),
            (1, 2015, 4352),
            (1, 2015, 4353),
            (1, 2015, 4354),
            (1, 2015, 4355)],
           names=['postsandy', 'sale_year', 'idx'], length=31973)>

In [21]:
idata_obj.df.loc[0]['sale_year'].astype(np.float64).mean()

2006.5872529558987

In [22]:
idata_obj.df.astype({'sale_year':np.int32,'saleprice':'int32','assessedvalue':'int32','wateraccess':np.int32},copy=False)

                          sale_year  saleprice  assessedvalue  postsandy  \
postsandy sale_year idx
0         2002      0          2002     390000         391200          0
                    1          2002     650000         728000          0
                    2          2002     262000         228800          0
                    3          2002     231500         255600          0
                    4          2002     215000         202400          0
...                             ...        ...            ...        ...
1         2015      4351       2015     582000         445600          1
                    4352       2015     446000         474400          1
                    4353       2015     446000         474400          1
                    4354       2015     430000         420800          1
                    4355       2015     460000         282800          1

                            secchi  wqbayfront  wqwateraccess  wqwaterhouse  \
postsandy sale_year idx
0         2002      0     1.666667         0.0            0.0           0.0
                    1     2.250620         0.0            0.0           0.0
                    2     2.111111         0.0            0.0           0.0
                    3     2.111111         0.0            0.0           0.0
                    4     2.111111         0.0            0.0           0.0
...                            ...         ...            ...           ...
1         2015      4351  2.500000         0.0            0.0           0.0
                    4352  2.500000         0.0            0.0           0.0
                    4353  2.500000         0.0            0.0           0.0
                    4354  2.500000         0.0            0.0           0.0
                    4355  2.500000         0.0            0.0           0.0

                          totalbathroomsedited  totallivingarea  ...  dv_2010  \
postsandy sale_year idx                                          ...
0         2002      0                      3.0           2945.0  ...        0
                    1                      3.5           4240.0  ...        0
                    2                      2.0           1716.0  ...        0
                    3                      1.0           1600.0  ...        0
                    4                      1.0           1104.0  ...        0
...                                        ...              ...  ...      ...
1         2015      4351                   1.5           1780.0  ...        0
                    4352                   3.0           1386.0  ...        0
                    4353                   3.0           1386.0  ...        0
                    4354                   1.5           1872.0  ...        0
                    4355                   1.5           1571.0  ...        0

                          dv_2011  dv_2012  dv_2013  dv_2014  dv_2015  \
postsandy sale_year idx
0         2002      0           0        0        0        0        0
                    1           0        0        0        0        0
                    2           0        0        0        0        0
                    3           0        0        0        0        0
                    4           0        0        0        0        0
...                           ...      ...      ...      ...      ...
1         2015      4351        0        0        0        0        1
                    4352        0        0        0        0        1
                    4353        0        0        0        0        1
                    4354        0        0        0        0        1
                    4355        0        0        0        0        1

                          saleprice_real-2015  assessedvalue_real-2015  \
postsandy sale_year idx
0         2002      0           513822.290161            515403.281823
                    1           856370.483602            959134.941634
                    2           345183.179544            301442.410228
                    3           304999.641467            336751.224013
                    4           283261.006115            266660.593663
...                                       ...                      ...
1         2015      4351        582000.000000            445600.000000
                    4352        446000.000000            474400.000000
                    4353        446000.000000            474400.000000
                    4354        430000.000000            420800.000000
                    4355        460000.000000            282800.000000

                          income_real-2015   idx
postsandy sale_year idx
0         2002      0        135332.886270     0
                    1        206542.068221     1
                    2         56463.799717     2
                    3        113563.948577     3
                    4         71874.515942     4
...                                    ...   ...
1         2015      4351     130603.000000  4351
                    4352     130603.000000  4352
                    4353     130603.000000  4353
                    4354     130603.000000  4354
                    4355     130603.000000  4355

[31973 rows x 55 columns]

In [23]:
import joblib

In [24]:
thehash=joblib.hash(idata_obj.df.to_csv().encode('utf-8'))

In [25]:
thehash

'aa56d96c13a7b60564e017acc40c707f'

In [26]:
thehash2=joblib.hash(idata_obj.df.to_csv().encode('utf-8'))
thehash2

'aa56d96c13a7b60564e017acc40c707f'

In [27]:
idata_obj.df.columns

Index(['sale_year', 'saleprice', 'assessedvalue', 'postsandy', 'secchi',
       'wqbayfront', 'wqwateraccess', 'wqwaterhouse', 'totalbathroomsedited',
       'totallivingarea', 'parcel_area', 'distance_park', 'distance_nyc',
       'distance_golf', 'wqshorelinedistancedv3_1000',
       'wqshorelinedistancedv1000_2000', 'wqshorelinedistancedv2000_3000',
       'wqshorelinedistancedv3000_4000', 'education', 'income', 'povertylevel',
       'pct_white', 'pct_asian', 'pct_black', 'bayfront', 'wateraccess',
       'waterhouse', 'shorelinedistance', 'distance_shoreline',
       'shorelinedistancedv3_1000', 'shorelinedistancedv1000_2000',
       'shorelinedistancedv2000_3000', 'shorelinedistancedv3000_4000',
       'soldmorethanonceinyear', 'soldmorethanonceovertheyears', 'latitude',
       'longitude', 'dv_2002', 'dv_2003', 'dv_2004', 'dv_2005', 'dv_2006',
       'dv_2007', 'dv_2008', 'dv_2009', 'dv_2010', 'dv_2011', 'dv_2012',
       'dv_2013', 'dv_2014', 'dv_2015', 'saleprice_real-2015',
       'assessedvalue_real-2015', 'income_real-2015', 'idx'],
      dtype='object')

In [28]:
test=idata_obj.df.loc['0']['secchi'].astype(np.float64).describe(include='all')
type(test)
test.to_json()

KeyError: '0'

In [ ]:
test=idata_obj.df.describe(include='all').to_html()
with open('test.html', 'w') as f:
    f.write(test)

In [ ]:
idata_obj.df.head(100)

In [ ]:
(idata_obj.df.columns)

In [ ]:
idata_obj.df.loc[1][:]['sale_year'].mean()

In [ ]:

idata_obj.df.apply(idata_obj.printdfcol,axis=0)

In [ ]:
idata_obj.df.iloc[:,1].mean()

In [ ]:
idata_obj.df.describe()