## Long Island Hedonic Analysis - Draft
### Visualizing the data
#### created by Doug Patton
<br>
If you run the notebook with matplotlib widgets turned on (and installed), you can rotate and zoom in on the 3d plots.

In [1]:
import island

In [2]:
import numpy as np
import pandas as pd

In [3]:
#from importlib import reload  
#reload(island)

In [4]:
%matplotlib inline
#may be necessary to display plots inline on some systems
#%pylab #interactive graphs in external window
#%matplotlib widget #makes graphs interactive inline

In [5]:
idata_obj=island.IslandData()

In [6]:
#idata_obj.getDataFromCSV() # run once

In [7]:
#idata_obj.doCSVToDict() # run once

In [8]:
idata_obj.makeTimeListArrayList()

In [9]:
#create new real version for each dollar variable using the CPI
baseyear=2015
idata_obj.addRealByCPI(to_year=baseyear)

In [10]:
idata_obj.arrayListToPandasDF()

In [11]:
dfi=idata_obj.df.loc[0]

In [12]:
dfi.loc[:]['sale_year']

sale_year  idx
2002       0       2002
           1       2002
           2       2002
           3       2002
           4       2002
                   ...
2012       1483    2012
           1484    2012
           1485    2012
           1486    2012
           1487    2012
Name: sale_year, Length: 23174, dtype: uint16

In [13]:
idata_obj.printDFtoSumStats()

In [14]:
idata_obj.df.loc[1].describe()

,sale_year,saleprice,assessedvalue,postsandy,secchi,wqbayfront,wqwateraccess,wqwaterhouse,totalbathroomsedited,totallivingarea,...,shorelinedistancedv2000_3000,shorelinedistancedv3000_4000,soldmorethanonceinyear,soldmorethanonceovertheyears,latitude,longitude,saleprice_real-2015,assessedvalue_real-2015,income_real-2015,idx
count,8799.00000,8799.000000,8799.000000,8799.0,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,...,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000,8799.000000
mean,2014.19434,-0.104144,-0.034202,1.0,1.487954,0.009104,0.055622,0.064725,1.962609,0.024356,...,0.171042,0.143880,0.023525,0.481646,40.653981,-73.622144,-0.325241,-0.276298,0.122858,1623.364132
std,0.90273,1.052227,0.893081,0.0,0.467630,0.124990,0.315432,0.337797,0.823556,0.998418,...,0.376567,0.350988,0.151574,0.499691,0.026579,0.072169,0.925551,0.781644,1.050166,1125.967392
min,2012.00000,-2.195929,-1.736039,1.0,1.000000,0.000000,0.000000,0.000000,1.000000,-1.916701,...,0.000000,0.000000,0.000000,0.000000,40.584320,-73.755870,-2.167902,-1.757304,-2.575421,0.000000
25%,2013.00000,-0.671436,-0.571272,1.0,1.083333,0.000000,0.000000,0.000000,1.500000,-0.635287,...,0.000000,0.000000,0.000000,0.000000,40.640310,-73.683365,-0.829777,-0.745542,-0.567862,733.000000
50%,2014.00000,-0.313013,-0.237372,1.0,1.416667,0.000000,0.000000,0.000000,2.000000,-0.177157,...,0.000000,0.000000,0.000000,0.000000,40.657670,-73.629050,-0.510178,-0.452368,0.016444,1466.000000
75%,2015.00000,0.188780,0.231123,1.0,1.700000,0.000000,0.000000,0.000000,2.500000,0.441318,...,0.000000,0.000000,0.000000,1.000000,40.673695,-73.556910,-0.075444,-0.041247,0.664259,2155.500000
max,2015.00000,11.658323,9.518195,1.0,3.500000,2.603540,2.593171,2.603540,8.000000,13.721681,...,1.000000,1.000000,1.000000,1.000000,40.701170,-73.482940,9.988481,8.196839,4.242513,4355.000000

In [15]:
test=idata_obj.df.loc[0]["secchi"].describe()
test

count    23174.000000
mean         1.832745
std          0.455897
min          0.601854
25%          1.481468
50%          1.836880
75%          2.132101
max          4.109069
Name: secchi, dtype: float64

In [16]:
idata_obj.df[:]['sale_year'].describe()

count    31973.000000
mean      2008.680731
std          4.175116
min       2002.000000
25%       2005.000000
50%       2008.000000
75%       2013.000000
max       2015.000000
Name: sale_year, dtype: float64

In [17]:
idata_obj.df.index

MultiIndex([(0, 2002,    0),
            (0, 2002,    1),
            (0, 2002,    2),
            (0, 2002,    3),
            (0, 2002,    4),
            (0, 2002,    5),
            (0, 2002,    6),
            (0, 2002,    7),
            (0, 2002,    8),
            (0, 2002,    9),
            ...
            (1, 2015, 4346),
            (1, 2015, 4347),
            (1, 2015, 4348),
            (1, 2015, 4349),
            (1, 2015, 4350),
            (1, 2015, 4351),
            (1, 2015, 4352),
            (1, 2015, 4353),
            (1, 2015, 4354),
            (1, 2015, 4355)],
           names=['postsandy', 'sale_year', 'idx'], length=31973)

In [18]:
idata_obj.df.loc[0]['sale_year'].astype(np.float64).mean()

2006.5872529558987

In [19]:
idata_obj.df.astype({'sale_year':np.int32,'saleprice':'int32','assessedvalue':'int32','wateraccess':np.int32},copy=False)

                          sale_year  saleprice  assessedvalue  postsandy  \
postsandy sale_year idx
0         2002      0          2002          0              0          0
                    1          2002          0              2          0
                    2          2002          0              0          0
                    3          2002         -1              0          0
                    4          2002         -1             -1          0
...                             ...        ...            ...        ...
1         2015      4351       2015          0              0          1
                    4352       2015          0              0          1
                    4353       2015          0              0          1
                    4354       2015          0              0          1
                    4355       2015          0              0          1

                            secchi  wqbayfront  wqwateraccess  wqwaterhouse  \
postsandy sale_year idx
0         2002      0     1.666667         0.0            0.0           0.0
                    1     2.250620         0.0            0.0           0.0
                    2     2.111111         0.0            0.0           0.0
                    3     2.111111         0.0            0.0           0.0
                    4     2.111111         0.0            0.0           0.0
...                            ...         ...            ...           ...
1         2015      4351  2.500000         0.0            0.0           0.0
                    4352  2.500000         0.0            0.0           0.0
                    4353  2.500000         0.0            0.0           0.0
                    4354  2.500000         0.0            0.0           0.0
                    4355  2.500000         0.0            0.0           0.0

                          totalbathroomsedited  totallivingarea  ...  \
postsandy sale_year idx                                          ...
0         2002      0                      3.0         1.544870  ...
                    1                      3.5         3.289805  ...
                    2                      2.0        -0.111133  ...
                    3                      1.0        -0.267436  ...
                    4                      1.0        -0.935766  ...
...                                        ...              ...  ...
1         2015      4351                   1.5        -0.024896  ...
                    4352                   3.0        -0.555788  ...
                    4353                   3.0        -0.555788  ...
                    4354                   1.5         0.099068  ...
                    4355                   1.5        -0.306511  ...

                          shorelinedistancedv2000_3000  \
postsandy sale_year idx
0         2002      0                                0
                    1                                0
                    2                                0
                    3                                0
                    4                                0
...                                                ...
1         2015      4351                             0
                    4352                             0
                    4353                             0
                    4354                             0
                    4355                             0

                          shorelinedistancedv3000_4000  \
postsandy sale_year idx
0         2002      0                                0
                    1                                0
                    2                                0
                    3                                0
                    4                                0
...                                                ...
1         2015      4351                             0
                    4352                             0
                    4353                             0
                    4354                             0
                    4355                             0

                          soldmorethanonceinyear  \
postsandy sale_year idx
0         2002      0                          0
                    1                          0
                    2                          0
                    3                          0
                    4                          0
...                                          ...
1         2015      4351                       0
                    4352                       0
                    4353                       0
                    4354                       0
                    4355                       0

                          soldmorethanonceovertheyears  latitude  longitude  \
postsandy sale_year idx
0         2002      0                                0  40.63544  -73.72381
                    1                                0  40.60864  -73.73049
                    2                                1  40.64994  -73.59480
                    3                                1  40.66046  -73.61769
                    4                                1  40.66553  -73.57406
...                                                ...       ...        ...
1         2015      4351                             1  40.65669  -73.49053
                    4352                             1  40.65466  -73.49170
                    4353                             1  40.65466  -73.49170
                    4354                             1  40.65663  -73.48874
                    4355                             1  40.65523  -73.48867

                          saleprice_real-2015  assessedvalue_real-2015  \
postsandy sale_year idx
0         2002      0               -0.020037                 0.569686
                    1                1.414668                 3.065839
                    2               -0.726354                -0.633921
                    3               -0.894656                -0.435296
                    4               -0.985704                -0.829582
...                                       ...                      ...
1         2015      4351             0.265513                 0.177018
                    4352            -0.304099                 0.339028
                    4353            -0.304099                 0.339028
                    4354            -0.371113                 0.037509
                    4355            -0.245463                -0.738792

                          income_real-2015   idx
postsandy sale_year idx
0         2002      0             0.733757     0
                    1             2.769243     1
                    2            -1.520684     2
                    3             0.111501     3
                    4            -1.080175     4
...                                    ...   ...
1         2015      4351          0.598556  4351
                    4352          0.598556  4352
                    4353          0.598556  4353
                    4354          0.598556  4354
                    4355          0.598556  4355

[31973 rows x 41 columns]

In [20]:
import joblib

In [21]:
thehash=joblib.hash(idata_obj.df.to_csv().encode('utf-8'))

In [22]:
thehash

'6ad2f4b745047b3b22d2c6fa7eb061dc'

In [23]:
thehash2=joblib.hash(idata_obj.df.to_csv().encode('utf-8'))
thehash2

'6ad2f4b745047b3b22d2c6fa7eb061dc'

In [24]:
idata_obj.df.columns

Index(['sale_year', 'saleprice', 'assessedvalue', 'postsandy', 'secchi',
       'wqbayfront', 'wqwateraccess', 'wqwaterhouse', 'totalbathroomsedited',
       'totallivingarea', 'saleacres', 'distance_park', 'distance_nyc',
       'distance_golf', 'wqshorelinedistancedv3_1000',
       'wqshorelinedistancedv1000_2000', 'wqshorelinedistancedv2000_3000',
       'wqshorelinedistancedv3000_4000', 'education', 'income', 'povertylevel',
       'pct_white', 'pct_asian', 'pct_black', 'bayfront', 'wateraccess',
       'waterhouse', 'shorelinedistance', 'distance_shoreline',
       'shorelinedistancedv3_1000', 'shorelinedistancedv1000_2000',
       'shorelinedistancedv2000_3000', 'shorelinedistancedv3000_4000',
       'soldmorethanonceinyear', 'soldmorethanonceovertheyears', 'latitude',
       'longitude', 'saleprice_real-2015', 'assessedvalue_real-2015',
       'income_real-2015', 'idx'],
      dtype='object')

In [25]:
test=idata_obj.df.loc['0']['secchi'].astype(np.float64).describe(include='all')
type(test)
test.to_json()

KeyError: '0'

In [ ]:
test=idata_obj.df.describe(include='all').to_html()
with open('test.html', 'w') as f:
    f.write(test)

In [ ]:
idata_obj.df.head(100)

In [ ]:
(idata_obj.df.columns)

In [ ]:
idata_obj.df.loc[1][:]['sale_year'].mean()

In [ ]:

idata_obj.df.apply(idata_obj.printdfcol,axis=0)

In [27]:
idata_obj.df.iloc[:,1].mean()

2.6757530435348215e-16

In [28]:
idata_obj.df.describe()

,sale_year,saleprice,assessedvalue,postsandy,secchi,wqbayfront,wqwateraccess,wqwaterhouse,totalbathroomsedited,totallivingarea,...,shorelinedistancedv2000_3000,shorelinedistancedv3000_4000,soldmorethanonceinyear,soldmorethanonceovertheyears,latitude,longitude,saleprice_real-2015,assessedvalue_real-2015,income_real-2015,idx
count,31973.000000,3.197300e+04,3.197300e+04,31973.000000,31973.000000,31973.000000,31973.000000,31973.000000,31973.000000,3.197300e+04,...,31973.000000,31973.000000,31973.000000,31973.000000,31973.000000,31973.000000,3.197300e+04,3.197300e+04,3.197300e+04,31973.000000
mean,2008.680731,2.675753e-16,1.441349e-16,0.275201,1.737858,0.009307,0.061502,0.070810,1.953273,-1.200262e-16,...,0.177243,0.148375,0.018078,0.522628,40.653100,-73.630145,8.187750e-14,1.279890e-14,8.400766e-14,1368.487130
std,4.175116,1.000000e+00,1.000000e+00,0.446622,0.484284,0.139272,0.343761,0.369356,0.834382,1.000000e+00,...,0.381880,0.355477,0.133235,0.499496,0.026857,0.068841,1.000000e+00,1.000000e+00,1.000000e+00,980.152834
min,2002.000000,-2.195929e+00,-2.302892e+00,0.000000,0.601854,0.000000,0.000000,0.000000,1.000000,-1.938260e+00,...,0.000000,0.000000,0.000000,0.000000,40.584180,-73.758930,-2.167902e+00,-2.244990e+00,-2.753381e+00,0.000000
25%,2005.000000,-5.519616e-01,-5.712722e-01,0.000000,1.333333,0.000000,0.000000,0.000000,1.000000,-6.554981e-01,...,0.000000,0.000000,0.000000,0.000000,40.638180,-73.688800,-5.786401e-01,-5.810021e-01,-7.070585e-01,591.000000
50%,2008.000000,-1.995121e-01,-2.321957e-01,0.000000,1.708333,0.000000,0.000000,0.000000,2.000000,-2.135380e-01,...,0.000000,0.000000,0.000000,1.000000,40.657090,-73.634690,-1.948166e-01,-2.282370e-01,-1.341218e-01,1206.000000
75%,2013.000000,3.082541e-01,2.647714e-01,1.000000,2.000535,0.000000,0.000000,0.000000,2.500000,4.022418e-01,...,0.000000,0.000000,0.000000,1.000000,40.673550,-73.581900,3.134812e-01,2.649748e-01,5.697193e-01,1931.000000
max,2015.000000,1.452571e+01,2.458769e+01,1.000000,4.109069,3.708014,3.347050,3.708014,13.000000,1.463659e+01,...,1.000000,1.000000,1.000000,1.000000,40.701170,-73.482440,1.376174e+01,2.523595e+01,4.867828e+00,4355.000000