## Long Island Hedonic Analysis - Draft
### Visualizing the data
#### created by Doug Patton
<br>
If you run the notebook with matplotlib widgets turned on (and installed), you can rotate and zoom in on the 3d plots.

In [1]:
import island
from datetime import date

In [2]:
import numpy as np
import pandas as pd

In [3]:
#from importlib import reload  
#reload(island)

In [4]:
%matplotlib inline
#may be necessary to display plots inline on some systems
#%pylab #interactive graphs in external window
#%matplotlib widget #makes graphs interactive inline

In [5]:
idata_obj=island.IslandData()

In [6]:
#idata_obj.getDataFromCSV() # run once

In [7]:
#idata_obj.doCSVToDict() # run once

In [8]:
idata_obj.makeTimeArrayList()

opening /home/dp/gits/island/data/PreSandy.csv with length:23174 and type:<class 'list'>
opening /home/dp/gits/island/data/PostSandy.csv with length:8799 and type:<class 'list'>

# Data
## sample size (sales volume) over time

- Observations: 
   - The volume of real estate transactions matches the broader economy and is perhaps a leading (rather than trailing) economic indicator
   - 2005 and 2015 seem to have quite a bit in common. It would be interesting to just compare data for those 2 years.
   - 2002 must be incomplete, any year dummies for that year might be biased if incompleteness not random. don't use 2002 as the excluded dummy
   
   \pagebreak

In [9]:
#create new real version for each dollar variable using the CPI
baseyear=2015
idata_obj.addRealByCPI(to_year=baseyear)

In [10]:
idata_obj.arrayListToPandasDF()

In [11]:
idata_obj.df.loc['0',:,:][:]['saleprice']

postsandy  sale_year  idx
0          2002       0       390000
                      1       650000
                      2       262000
                      3       231500
                      4       215000
                               ...
           2012       1483    269000
                      1484    825000
                      1485    230000
                      1486    339000
                      1487    380000
Name: saleprice, Length: 23174, dtype: object

In [12]:
idata_obj.df.loc[:]['sale_year'].astype(np.int32).mean()

2008.6807306164576

In [13]:
idata_obj.df.astype({'sale_year':np.int32,'saleprice':'int32','assessedvalue':'int32','wateraccess':np.int32},copy=False)

                          sale_year  saleprice  assessedvalue postsandy  \
postsandy sale_year idx
0         2002      0          2002     390000         391200         0
                    1          2002     650000         728000         0
                    2          2002     262000         228800         0
                    3          2002     231500         255600         0
                    4          2002     215000         202400         0
...                             ...        ...            ...       ...
1         2015      4351       2015     582000         445600         1
                    4352       2015     446000         474400         1
                    4353       2015     446000         474400         1
                    4354       2015     430000         420800         1
                    4355       2015     460000         282800         1

                            secchi wqbayfront wqwateraccess wqwaterhouse  \
postsandy sale_year idx
0         2002      0     1.666667          0             0            0
                    1      2.25062          0             0            0
                    2     2.111111          0             0            0
                    3     2.111111          0             0            0
                    4     2.111111          0             0            0
...                            ...        ...           ...          ...
1         2015      4351       2.5          0             0            0
                    4352       2.5          0             0            0
                    4353       2.5          0             0            0
                    4354       2.5          0             0            0
                    4355       2.5          0             0            0

                         totalbathroomsedited totallivingarea  ...  \
postsandy sale_year idx                                        ...
0         2002      0                       3            2945  ...
                    1                     3.5            4240  ...
                    2                       2            1716  ...
                    3                       1            1600  ...
                    4                       1            1104  ...
...                                       ...             ...  ...
1         2015      4351                  1.5            1780  ...
                    4352                    3            1386  ...
                    4353                    3            1386  ...
                    4354                  1.5            1872  ...
                    4355                  1.5            1571  ...

                         shorelinedistancedv1000_2000  \
postsandy sale_year idx
0         2002      0                               0
                    1                               0
                    2                               0
                    3                               1
                    4                               1
...                                               ...
1         2015      4351                            0
                    4352                            0
                    4353                            0
                    4354                            0
                    4355                            0

                         shorelinedistancedv2000_3000  \
postsandy sale_year idx
0         2002      0                               0
                    1                               0
                    2                               0
                    3                               0
                    4                               0
...                                               ...
1         2015      4351                            0
                    4352                            0
                    4353                            0
                    4354                            0
                    4355                            0

                         shorelinedistancedv3000_4000 distance_shoreline  \
postsandy sale_year idx
0         2002      0                               0           105.0394
                    1                               0           279.3566
                    2                               0           635.9377
                    3                               0             1556.5
                    4                               0           1533.798
...                                               ...                ...
1         2015      4351                            0           181.0873
                    4352                            0           139.8983
                    4353                            0           139.8983
                    4354                            0           139.2751
                    4355                            0           113.8112

                         soldmorethanonceinyear soldmorethanonceovertheyears  \
postsandy sale_year idx
0         2002      0                         0                            0
                    1                         0                            0
                    2                         0                            1
                    3                         0                            1
                    4                         0                            1
...                                         ...                          ...
1         2015      4351                      0                            1
                    4352                      0                            1
                    4353                      0                            1
                    4354                      0                            1
                    4355                      0                            1

                          latitude  longitude postsandy   idx
postsandy sale_year idx
0         2002      0     40.63544  -73.72381         0     0
                    1     40.60864  -73.73049         0     1
                    2     40.64994   -73.5948         0     2
                    3     40.66046  -73.61769         0     3
                    4     40.66553  -73.57406         0     4
...                            ...        ...       ...   ...
1         2015      4351  40.65669  -73.49053         1  4351
                    4352  40.65466   -73.4917         1  4352
                    4353  40.65466   -73.4917         1  4353
                    4354  40.65663  -73.48874         1  4354
                    4355  40.65523  -73.48867         1  4355

[31973 rows x 39 columns]

In [14]:
idata_obj.df.dtypes

sale_year                         object
saleprice                         object
assessedvalue                     object
postsandy                         object
secchi                            object
wqbayfront                        object
wqwateraccess                     object
wqwaterhouse                      object
totalbathroomsedited              object
totallivingarea                   object
saleacres                         object
distance_park                     object
distance_nyc                      object
distance_golf                     object
wqshorelinedistancedv3_1000       object
wqshorelinedistancedv1000_2000    object
wqshorelinedistancedv2000_3000    object
wqshorelinedistancedv3000_4000    object
education                         object
income                            object
povertylevel                      object
pct_white                         object
pct_asian                         object
pct_black                         object
bayfront                          object
wateraccess                       object
waterhouse                        object
shorelinedistance                 object
shorelinedistancedv3_1000         object
shorelinedistancedv1000_2000      object
shorelinedistancedv2000_3000      object
shorelinedistancedv3000_4000      object
distance_shoreline                object
soldmorethanonceinyear            object
soldmorethanonceovertheyears      object
latitude                          object
longitude                         object
postsandy                         object
idx                               object
dtype: object

'2002'